
<!--Projects section v.3-->
<section class="section text-center">

    <!--Section heading-->
    <h1 class="section-heading">Our best projects</h1>
    <!--Section description-->
    <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(16).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="red-text"><h5><i class="fa fa-line-chart"></i> Marketing</h5></a>
                <h3>Is New York the best place to work?</h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi incidunt.</p>
                <a class="btn btn-primary"><i class="fa fa-clone left"></i> View project</a>
            </div>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(27).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="blue-text"><h5><i class="fa fa-eye"></i> Entertainment</h5></a>
                <h3>The best clubs in northern Italy</h3>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex consequatur?</p>
                <a class="btn btn-primary"><i class="fa fa-clone left"></i> View project</a>
            </div>

        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(81).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="cyan-text"><h5><i class="fa fa-tree"></i> Environment</h5></a>
                <h3>Beautiful nature in Slovenia</h3>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi incidunt.</p>
                <a class="btn btn-primary"><i class="fa fa-clone left"></i> View project</a>
            </div>

        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-6 mb-r">

            <!--Featured image-->
            <div class="view overlay hm-white-slight z-depth-2">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(73).jpg">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>

            <!--Excerpt-->
            <div class="card-block">
                <a href="" class="deep-purple-text"><h5><i class="fa fa-ship"></i> Tourism</h5></a>
                <h3>Great views of the Norwegian Fjords</h3>
                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex consequatur?</p>
                <a class="btn btn-primary"><i class="fa fa-clone left"></i> View project</a>
            </div>

        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->
</section>
<!--/Projects section v.3-->