<footer class="site-footer">

  Copywrite-information|Privacy Policy
  <button md-button [routerLink]="['/']">
    Home
    </button>
  <button md-button [routerLink]="['/about']">
    About
    </button>

  <button md-button [routerLink]="['/contact']">
    Contact
    </button>
  <button md-button [routerLink]="['/FAQ']">
    FAQ's
    </button>
  <button md-button [routerLink]="['/support']">
    Support
    </button>

  <button md-button [routerLink]="['/T+C']">
    T+C's
    </button>

</footer>
