<p>
  about works!
</p>
<md-card class="dash-card">
  <md-card-header fxLayout="row" fxLayoutAlign="center center">
    <md-card-title class="center">About Us</md-card-title>
  </md-card-header>
  <md-card-content style="height:84%" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div style="padding:7px;width:100%" fxLayout="row" fxLayoutAlign="space-between">
        <!--<md-icon fxFlex="25" svgIcon="fb"></md-icon>-->
        <div fxLayout="column" fxFlex="70">
          <p class="cut-off"></p>
          <span fxAlign="start">- </span>
        </div>
      </div>
      <div style="padding:7px;width:100%" fxLayout="row" fxLayoutAlign="space-between">
        <!--<md-icon fxFlex="25" svgIcon="fb"></md-icon>-->
        <div fxLayout="column" fxFlex="70">
          <p class="cut-off"></p>
          <span fxAlign="start">- fhghg</span>
        </div>
      </div>
    </div>
  </md-card-content>
</md-card>