 <!--  <hr class="categories" /> -->
        <div class="home-title">Welcome {{user}}</div>
        <div class="home-text">Select from our amazing Digital Content Collections® and find out about your favourite topics!<br>
        {{subscription}}</div>
        <div class="card-block" *ngIf="loading == true">
                     <h4 class="card-title" >Loading Collections...Please wait</h4>
      <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      </div>
        
 <ul class="card-list" *ngIf="!exists">
  <li  *ngFor="let modules of data;let i=index"  >
                <div class="card" (click)="onclick(modules.id,modules.name)" >
                    <div class="bg-card">
                        <!--<div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>-->
                        <ul>
                            <li [style.background-image]="'url(' + image_list[i] + ')'" class="left-card left-card-geography">
                                <div class="transbox"></div>
                            </li>
                            <li class="right-card">
                                <div class="category-card">Collection:</div>
                                <!--<div class="category-card">{{modules.id}}</div>-->
                                <div class="title-card" style="cursor:pointer">{{modules.name}}</div>
                                
                                <div class="tags-card">
                                    <button type="button" class="arrow-button arrow-orange">Tag A</button>
                                    <button type="button" class="arrow-button arrow-beige">Tag B</button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>
            </ul>
    
  <br>
      <br>
<br>
