 <br>
  <div class="row">
       <div class="col-md-12">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->

                        <!--Title-->
                        <h1 class="card-title">Pricing</h1>
                        <!--Text-->
                        <p class="home-text">We have partnered with our friends at Wriggle to offer you the best prices and service. Select one program below and pay at the Wriggle store with your existing account.<br>
                        <br>
                          New Customer? Catchy amazing marketing phrase here!</p>
                        
                    <!--/.Card content-->

    </div>
  </div>
  <br>
    <div class="row pricing-div">
         <div class="col-md-4">
             <br>
             <br>
             <br>
          <div class="card">
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="">
                      <a href="#">
                          <div class="mask waves-effect waves-light"></div>
                      </a>
                        <div class="card-block" style="text-align:center">
                                <!--Name-->
                                <h3 class="card-title">BRONZE</h3>
                                  <p class="card-text">FREE</p>
                                <hr>
                                <!--Quotation-->
                             <p style="text-align:center">
                                10,000 Compositions<br>
                            <font class="text-orange">Geography</font> Content<br>
                            <font class="text-orange">1</font> User<br>
                                90 day<br><br>
                            <button type="button" class="btn btn-signin">Let's Go!</button><br>
                            </p>
                            </div>
                  </div>
              </div>
    </div>
       <div class="col-md-4">
               <div class="card">
                   <div class="card-block" style="background-color: #ffa402;text-align:center">
                              <h2 style="color:white">BEST VALUE</h2>
                            </div>
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="">
                      <a href="#">
                          <div class="mask waves-effect waves-light"></div>
                      </a>
                        <div class="card-block" style="text-align:center">
                                <!--Name-->
                                <h3 class="card-title">SILVER</h3>
                              <p class="card-text">$9.999/MONTH</p>
                                <hr>
                                <!--Quotation-->
                            <p style="text-align:center">
                                100,000 Compositions<br>
                                  <font class="text-orange">limited</font> Content<br>
                            <font class="text-orange">5</font> Users<br>
                                  Ideal for Parents!<br><br>
                            <button type="button" class="btn btn-signin">Get me started!</button><br>
                            <span class="badge badge-success">Free for 14 days</span><br></p>
                            </div>
                  </div>
              </div>
    </div>

    <div class="col-md-4">
        <br>
             <br>
             <br>
          <div class="card">    
                  <!--Card image-->
                  <div class="view overlay hm-white-slight">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="">
                      <a href="#">
                          <div class="mask waves-effect waves-light"></div>
                      </a>
                      
                  </div>
                    <div class="card-block" style="text-align:center">
                <!--Title-->
                      <h3 class="card-title">GOLD</h3>
                      <!--Text-->
                      <p class="card-text">$299.999/MONTH.</p>
                          <hr>
                         <p style="text-align:center">
                          100,000,000 Compositions<br>
                        <font class="text-orange">unlimited</font> Content<br>
                        <font class="text-orange">unlimited</font> Users<br>
                                  Ideal for Schools!<br><br>
                            <button type="button" class="btn btn-signin">Let's Go!</button><br>
                             <span class="badge badge-success">Free for 14 days</span><br></p>
                      </div>
              </div>
    </div>
    
    <div class="row">
       <div class="col-md-12">
           
        <ul style="margin-top:80px" class="post-fav">
            <li>
               <h4>Have questions?</h4> 
            </li>  
            <li>
                <div class="md-form input-group">
                <input type="text" class="form-control" style="padding-right:100px" placeholder="Leave us your e-mail..." aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2" style="color:#6d7270">Request Info</span>
                </div>
            </li> 
        </ul>
        
        </div>
    </div>
 
  </div>