<p>
  contact-us works!
</p>
<md-card class="dash-card">
  <md-card-header fxLayout="row" fxLayoutAlign="center center">
    <md-card-title class="center">Contact Us</md-card-title>
  </md-card-header>
  <md-card-content fxLayout="column" fxLayoutAlign="center center">
    <div style="width:100%;" fxLayout="column" fxLayoutAlign="center start">
      <div class="border" style="width:100%" fxLayout="row" fxLayoutAlign="space-between center">
        <h4 style="margin:16px" class="small-header">1.sdsd</h4>
        <h4 class="loc">sds</h4>
        <h3 class="dash-grey center">sd</h3>
      </div>
      <div class="border" style="width:100%" fxLayout="row" fxLayoutAlign="space-between center">
        <h4 style="margin:16px" class="small-header">2.sddsds</h4>
        <h4 class="loc">sdd</h4>
        <h3 class="dash-grey center">sdds</h3>
      </div>
      <div class="hide" style="width:100%" fxLayout="row" fxLayoutAlign="space-between center">
        <h4 style="margin:16px" class="small-header">3.sddsds</h4>
        <h4 class="loc">sddssd</h4>
        <h3 class="dash-grey center">sdsdds</h3>
      </div>
    </div>
  </md-card-content>
</md-card>