   <div class="card-block" *ngIf="loading == true">
                     <h4 class="card-title" >Loading Favourites...Please wait</h4>
      <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      </div>

<ul> <li class="card-fav" *ngFor="let data of favs_data; let index = index" 
[style.background-image]="'url(' + data.image + ')'" style=" background-size: 100% 100%"   >
                            <div class="transbox-fav"  >
                            <div class="card-fav-bg-category">
                                <div class="fav-category">{{data.image}}{{data.modulename}}</div>
                            </div>                    
                            <div class="fav-content">

                                <div class="fav-bg-title">
                                    <div class="fav-title" >{{data.topic}}</div>
                                </div>
                                <div class="fav-button">
                                    <button type="button" (click)="onSelect(index)" class="btn btn-signin btn-sm">READ MORE</button>
                                </div>
                                <div class="fav-social">
                                    <ul>
                                        <li><button (click)="deleteArticle(index)"  type="button" class="fav-icon fav-icon-orange"><i class="fa fa-star"></i></button><!-- &nbsp;&nbsp;<button type="button" class="fav-icon fav-icon-blue fav-icon-1note "><img src="img/almanac/icons/one-note.png"  style="width:12px;height:12px;" /></button> --></li>
                                        <li><i class="fa fa-thumbs-up"></i>&nbsp;33333</li>
                                        <li><i class="fa fa-eye"></i>&nbsp;32233</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </li>
</ul>
 <div class="row" *ngIf="toggle == true">
            <div class="col-md-6" *ngFor="let data of saved_data; let index = index">
        <div class="card"   >
                    <div class="card-block">
             
                        <h2 class="card-title">{{data.title}}</h2>
                 
                        </div>
              
                      <div *ngIf="data.modes[0].sections[0].images !== undefined" class="view overlay hm-white-slight" >{{data.modes[0].sections[0].images[0].image}}
                        <img  [src]="data.modes[0].sections[0].images[0].url" alt="" style="width:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          <div class="card-block" >
                            
                                  <h4 class="card-title">Description</h4>
                                  <hr>
                             
                                   <p class="card-text" [innerHTML]="data.sections[0].text.text"> </p>
                                
                          </div>
                        </div>
                         <div *ngIf="data.modes[0].sections[0].images.length !== undefined" class="view overlay hm-white-slight" >{{data.sections[1].images[0].url}}
                        <img  [src]="data.modes[0].sections[1].images[0].url" alt="" style="width:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          <div class="card-block" >
                            
                                  <h4 class="card-title">Description</h4>
                                  <hr>
                             
                                   <p class="card-text" [innerHTML]="data.modes[0].sections[0].text.text"> </p>
                                
                          </div>
                        </div>
                </div>
                   <button  class="btn btn-primary primary" (click)="deleteArticle(index)" >Delete</button>
                                       <a class="btn btn-primary primary" (click)="onSelect(index)">VIEW FULL</a>
                                        <a  class="btn btn-primary primary" [routerLink]="['/search']"  >BACK</a>
     
  </div>
         
</div>
           <!--<div *ngIf="toggle == false  ">
          
            <div class="row">
                <div class="col-md-12">
                  <div class="card">    <h2>{{data.title}}</h2></div>
                   <br>
                  </div>
                 
             <div class="col-md-12" *ngFor= "let image of data.sections"  >

                   <div class="card">

                        <div class="card-block" >
                          
                        <p [innerHTML]="image.text.text" class="card-text">    </p>      
                        <h2> Images under this section </h2>
                    </div>
                    <div *ngIf="image.images.length > 0">
                     <carousel [noWrap]="noLoopSlides">
                       <div class="view overlay hm-white-slight">
                          <slide  *ngFor= "let url of image.images" [active]="url.active" >
                        <img  [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </slide>
                          </div>
                        </carousel>
                        </div>
                         
              </div>
              <br>
              </div>       
              </div>     
                     
            </div>-->
                <div *ngIf="nodata"  class="row">
              <div class="col-md-12">
                <div class="card">
                 <div class="card-block">
             
                        <h4 class="card-title">No Results Found</h4>
        <a  class="btn btn-primary primary" [routerLink]="['/search']"  >BACK</a>
                        </div>
                        </div>
                        <br>
                </div>
                </div>