   <div class="card-block" *ngIf="loading == true">
                     <h4 class="card-title" >Loading Favourites...Please wait</h4>
      <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      </div>

<ul> <li (click)="onSelect(index)" class="card-fav" *ngFor="let data of favs_data; let index = index" 
[style.background-image]="'url(' + data.image + ')'" style=" background-size: 100% 100%"   >
                            <div class="transbox-fav"  >
                            <div class="card-fav-bg-category">
                                <div class="fav-category">{{data.image}}{{data.modulename}}</div>
                            </div>                    
                            <div class="fav-content">

                                <div class="fav-bg-title">
                                    <div class="fav-title" >{{data.chapter}}</div>
                                </div>
                                <div class="fav-button">
                                    <button type="button"  class="btn btn-signin btn-sm">CLICK ME!</button>
                                </div>
                                <div class="fav-social">
                                    <ul>
                                        <li><button (click)="deleteArticle(index)"  type="button" class="fav-icon fav-icon-orange"><i class="fa fa-star"></i></button><!-- &nbsp;&nbsp;<button type="button" class="fav-icon fav-icon-blue fav-icon-1note "><img src="img/almanac/icons/one-note.png"  style="width:12px;height:12px;" /></button></li>
                                        <li><i class="fa fa-thumbs-up"></i>&nbsp;33333</li>
                                        <li><i class="fa fa-eye"></i>&nbsp;32233</li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                </li>
</ul>



            <!--<div *ngIf="toggle == true">
            <div class="row" >
                <div class="col-md-12">
                  <div class="card">      <div class="card-block" >   <h2 class="card-text"> {{data.topic}}</h2></div>
                  </div>
                   <br>
                  </div>
                 <div class="col-md-6" *ngFor="let mode of data.modes" >
             <div  *ngFor= "let section of mode.sections"  >

                   <div class="card">
                        <div class="card-block" >
                    <h2 [innerHTML]="section.title" class="card-text">    </h2>   
                        <p [innerHTML]="section.text.text" class="card-text">    </p>      
                        
                    </div>
                    <div class="card-block" >   
                              <h2 class="card-text" *ngIf="section.images !== undefined"> Images under this section </h2>
                       <div *ngFor= "let url of section.images" class="view overlay hm-white-slight">
                        <img [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </div>
                          </div>
                         
              </div>
              <br>
              </div>    
              </div>   
              </div>     
                     
            </div>-->

   <div *ngIf="toggle == true">
       <h2 class="card-text" style="font-size:2.5rem">{{data.chapter}} </h2>
<div class="row"  *ngFor= "let mode of data.modes" >
             <div  class="col-md-12" *ngFor= "let section of mode.sections;let i= index"   >
                    <h2 [innerHTML]="section.title" class="card-text">    </h2>      
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 0">
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" /></div>
                           
                               </div>
                    <div class="row" *ngIf="section.images == undefined">
                             <div class="col-md-12"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
    
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 1">
                             <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" /></div>
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
                  
              <div class="post-video" *ngIf="section.videos !== undefined">
                      <br>
                          <br>
                    <iframe allowfullscreen frameborder="0" height="315" width="560" [src]="section.videos[0].url | safe"></iframe>
               <br>
                </div>
                <br>
                     </div>
                     
</div>
</div>
                <div *ngIf="nodata"  class="row">
              <div class="col-md-12">
                <div class="card">
                 <div class="card-block">
             
                        <h4 class="card-title">‘You don’t have any favourites yet’</h4>
        <a  class="arrow-left arrow-left-beige" [routerLink]="['/search']"  >BACK</a>
                        </div>
                        </div>
                        <br><br><br><br><br><br><br>
                </div>
                </div>