<h2 *ngIf="toggle == false" class="card-text" style="font-size:2.5rem">Favourites</h2>
<br>
<div class="card-block" *ngIf="loading == true">
                     <h4 class="card-title" >Loading Favourites...Please wait</h4>
      <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      </div>

<ul *ngIf="toggle == false" class="card-list"> 
    <li class="card-fav" *ngFor="let data of favs_data; let index = index" 
[style.background-image]="'url(' + data.image + ')'" style=" background-size: 100% 100%"   >
                            <div class="transbox-fav2"  >
                            <div class="card-fav2-bg-category">
                                <div class="fav-category">{{data.image}}{{data.modulename}}</div>
                            </div>                    
                            <div class="fav-content">
                                <div (click)="onSelect(index)" class="fav-bg-title">
                                    <div class="fav-title" >{{data.chapter}}</div>
                                </div>
                                <div  (click)="onSelect(index)" class="fav-button">
                                    <button type="button"  class="btn btn-fav2 btn-sm">CLICK ME!</button>
                                </div>
                                <div class="fav-social">
                                    <ul>
                                        <li><button style="z-index:5" (click)="deleteArticle(index)"  type="button" class="fav-icon-lg fav-icon-blue" title="Remove"><i class="fa fa-trash-o"></i></button>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </li>
</ul>
  <div *ngIf="nodata"  class="row">
              <div class="col-md-12">
                <div class="card">
                 <div class="card-block">
             
                        <h4 class="card-title">‘You don’t have any favourites yet’</h4>
        <a  class="arrow-left arrow-left-beige" [routerLink]="['/search']"  >BACK</a>
                        </div>
                        </div>
                        <br><br><br>
                </div>
                </div>

<br><br>
<h2 *ngIf="toggle == false && DataService.dblogin == false" class="card-text" style="font-size:2.5rem">Articles exported to One Note</h2>
<br><br>

<div class="card-block" *ngIf="loading1 == true">
                     <h4 class="card-title" >Loading One Note Articles...Please wait</h4>
      <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      </div>
      <div class="card-block" *ngIf="deleting == true">
                     <h4 class="card-title" >Deleting One Note Articles...Please wait</h4>
      <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      </div>

<ul *ngIf="toggle == false" class="card-list"> 
    <li class="card-fav" *ngFor="let p of page; let index = index" [style.background-image]="'url('+ image + ')'" style=" background-size: 100% 100%"   >
                            <div class="transbox-1note"  >
                            <div class="card-1note-bg-category">
                                <div class="fav-category">{{p.section}}</div>
                            </div>                    
                            <div class="fav-content">
                                <div class="fav-bg-title">
                                    <div class="fav-title" >{{p.title}}</div>
                                </div>
                                 <div class="fav-social">
                                    <ul>
                                        <li><button style="z-index:5" (click)="deleteOneNoteArticle(p.id)"  type="button" class="fav-icon-lg fav-icon-purple" title="Remove"><i class="fa fa-trash-o"></i></button>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                </li>
</ul>
 <div *ngIf="noonenotedata"  class="row">
              <div class="col-md-12">
                <div class="card">
                 <div class="card-block">
             
                        <h4 class="card-title">‘You don’t have any One Note Articles saved yet’</h4>
        <a  class="arrow-left arrow-left-beige" [routerLink]="['/search']"  >BACK</a>
                        </div>
                        </div>
                        <br><br><br>
                </div>
                </div>



            <!--<div *ngIf="toggle == true">
            <div class="row" >
                <div class="col-md-12">
                  <div class="card">      <div class="card-block" >   <h2 class="card-text"> {{data.topic}}</h2></div>
                  </div>
                   <br>
                  </div>
                 <div class="col-md-6" *ngFor="let mode of data.modes" >
             <div  *ngFor= "let section of mode.sections"  >

                   <div class="card">
                        <div class="card-block" >
                    <h2 [innerHTML]="section.title" class="card-text">    </h2>   
                        <p [innerHTML]="section.text.text" class="card-text">    </p>      
                        
                    </div>
                    <div class="card-block" >   
                              <h2 class="card-text" *ngIf="section.images !== undefined"> Images under this section </h2>
                       <div *ngFor= "let url of section.images" class="view overlay hm-white-slight">
                        <img [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </div>
                          </div>
                         
              </div>
              <br>
              </div>    
              </div>   
              </div>     
                     
            </div>-->
<br>
   <div *ngIf="toggle == true">
       <h2 class="card-text" style="font-size:2.5rem">{{data.chapter}} </h2>
       <br><br>
<div class="row"  *ngFor= "let mode of data.modes" >
             <div  class="col-md-12" *ngFor= "let section of mode.sections;let i= index"   >
                    <h2 [innerHTML]="section.title" class="card-text">    </h2>      
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 0">
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" />
                               <br>
                               <p *ngIf="section.images[0].attribution!== null">Source : {{section.images[0].attribution}}</p><p *ngIf="section.images[0].caption!== null">Caption: {{section.images[0].caption}}</p>
                         </div>
                           
                               </div>
                    <div class="row" *ngIf="section.images == undefined">
                             <div class="col-md-12"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
    
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 1">
                             <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" />
                             <br>
                             <p *ngIf="section.images[0].attribution!== null">Source : {{section.images[0].attribution}}</p><p *ngIf="section.images[0].caption!== null">Caption: {{section.images[0].caption}}</p>
                         </div>
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
                  
              <div class="post-video" *ngIf="section.videos !== undefined">
                      <br>
                          <br>
                    <iframe allowfullscreen frameborder="0" height="315" width="560" [src]="section.videos[0].url | safe"></iframe>
               <br>
                </div>
                <br>
                     </div>
                     
</div>





 <button (click)="showfavs()" type="button" class="arrow-left arrow-left-beige">BACK TO FAVOURITES</button>
</div>
  <div *ngIf="toggle == true" class="btn-top">
    <button (click)="scrolltop()" type="button" class="icon-top waves-effect waves-light"><i class="fa fa-chevron-up"></i></button>
</div>
              