     <!--<div *ngIf="hidden" class="col-md-12" >
            
            <div  class="post-text" >
                <h3> {{title[0]}} </h3>
                <p [innerHTML]= "text[0]"></p>
                
                <br /><br />
                
                <div class="post-video" *ngIf="videos.length>0">
                    <iframe allowfullscreen frameborder="0" height="315" width="560" [src]="videos[0] | safe"></iframe>
                </div>
            
            </div>
            

          <h3> {{title[1]}} </h3>
        <div class="post-text"  [innerHTML]= "text[1]">
                 
        </div> 
          <div class="post-img-right">
                 <img style="max-width: 500px;max-height: auto" [src]="images[1]" />
                 </div>   
          
        <div class="post-text"  [innerHTML]= "text[2]">  </div>
           
            

        
        <div class="home-text">      </div>
            
            
     
            
            <div class="post-video" *ngIf="videos.length>0">
                 <iframe allowfullscreen frameborder="0" height="315" width="560" [src]="videos[1] | safe"></iframe>
            </div>
                  

            <div class="post-img-huge" ><img style="max-width: 1000px;max-height: auto" [src]="hugeimageurl" /></div>

               <h3> {{title[2]}} </h3>
            
              <div class="post-text" [innerHTML]= "text[3]">  </div>

            <div style="padding:30px">
            <div class="row">
            <div class="col-md-6"><img style="width:100%" [src]="images2[0]" /></div>
            <div class="col-md-6"><img style="width:100%" [src]="images2[1]" /></div>
            </div>
             <div class="row">
            <div class="col-md-6"><img style="width:100%" [src]="images2[2]" /></div>
            <div class="col-md-6"> <img style="width:100%" [src]="images2[3]" /></div>
             </div>
            <div>
   
          <div class="post-text" [innerHTML]= "text[3]">  </div>

        
       
</div>-->
<!--<div class="row">
             <div class="col-md-12"  >
                    <div class="card">
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-block">
  
                        <h4 class="card-title">ARTICLE Results showing for {{data.topic}} and {{data.chapter}}</h4>
                        <p class="card-text">    
                        <a class="btn btn-primary primary" (click)="savedata()">Save To Favourites</a>
                          <a class="btn btn-primary primary" (click)="showfav()">View Favourites</a>
                          <a class="btn btn-primary primary" (click)="saveonenote()">Save To One Note!</a>
                         <a class="btn btn-primary primary" (click)="saveonenote2()">Save To One Note2!</a>
                             <a class="btn btn-primary primary" (click)="saveonenote4()">Save To One Note4!</a>
                         <br>
                          <md-progress-spinner *ngIf="loading == true" class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
                          </p>
                    </div>
                </div>
             </div>  
             </div>
             <br>-->
<md-progress-spinner *ngIf="loading == true" class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
<div class="row"  *ngFor= "let mode of img_data.modes" >
             <div  class="col-md-12" *ngFor= "let section of mode.sections;let i= index"   >
                    <h2 [innerHTML]="section.title" class="card-text">    </h2>      
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 0">
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" /></div>
                           
                               </div>
                    <div class="row" *ngIf="section.images == undefined">
                             <div class="col-md-12"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
    
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 1">
                             <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" /></div>
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
                  
              <div class="post-video" *ngIf="section.videos !== undefined">
                      <br>
                          <br>
                    <iframe allowfullscreen frameborder="0" height="315" width="560" [src]="section.videos[0].url | safe"></iframe>
               <br>
                </div>
                <br>
                     </div>
                     
</div>
<div *ngIf="hidden" class="row">
    <div class="col-md-12">
                          <h4>Was this article what you were looking for?</h4>
            
             <ul style="margin-top:40px" class="post-fav">
                    <li style="width: 30%">
                        Yes! Save to your favourites or export to OneNote:
                    </li>
                    <li style="margin-right: 1.250em">
                        <button (click)="savedata()" type="button" class="icon-button" title="Save to Favourites"><i class="fa fa-star"></i></button>
                    </li>
                    <li>
                        <button *ngIf= "!DataService.dblogin" (click)="saveonenote4()" type="button" class="icon-button" title="Export to OneNote"><i class="fa fa-share-square-o"></i></button>
                    </li>
            </ul>
               <div class="card-block" *ngIf="onenoteloader == true">
                     <h4 class="card-title" >Saving To One Note...Please wait</h4>
      <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      </div>
            
            <ul style="margin-top:40px" class="post-fav">
                    <li style="width: 30%">
                        Almost! But I want to re-configure it:
                    </li>
                    <li>
                        <button type="button" class="btn btn-signin">Options</button>
                    </li>
            </ul>
            
            <ul style="margin-top:40px" class="post-fav">
                    <li style="width: 30%">
                        No! Take me back:
                    </li>
                    <li>
                        <a [routerLink]="['/search']" class="arrow-left arrow-left-beige">Back to Search</a>
                    </li>
                    <li>
                        <a [routerLink]="['/modules']" class="arrow-left arrow-left-beige">Back to Collections</a>
                    </li>
            </ul> 
            </div>
                         </div>




 <!--<div class="row" *ngFor= "let mode of img_data.modes" >
             <div class="col-md-12" *ngFor= "let section of mode.sections"   >
                        <div class="post-text" >
                    <h2 [innerHTML]="section.title" class="card-text">    </h2>   
                        <p [innerHTML]="section.text.text" class="card-text">    </p>      
                        
                    </div>
                    <div class="post-text" >   
                       <div *ngFor= "let url of section.images" class="view overlay hm-white-slight">
                           <h2 class="card-text" *ngIf="section.images !== undefined"> Images under this section </h2>
                        <img [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </div>
                          </div>
                         
 
              
              <br>
              </div>
                     
            </div>-->

           
                  