      <md-progress-spinner *ngIf="loading == true" class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
      <div *ngIf="hidden" class="col-md-12" >
            
            <div class="home-text" >
                <p [innerHTML]= "text[0]"></p>
                
                <br /><br />
                
                <div class="post-video">
                    <iframe allowfullscreen frameborder="0" height="315" width="560" [src]="videos[0] | safe"></iframe>
                </div>
            
            </div>
            

       
        <div class="home-text" [innerHTML]= "text[1]">
                 
        </div> 
          <div class="post-img-right">
                 <img [src]="images[1]" />
                 </div>   
          
        <div class="home-text" [innerHTML]= "text[2]">  </div>
           
            

        
        <div class="home-text">      </div>
            
            
     
            
            <div class="post-video">
                 <iframe allowfullscreen frameborder="0" height="315" width="560" [src]="videos[1] | safe"></iframe>
            </div>
            
            I repeat: Rock are geologically classified according to characteristics such as mineral and chemical composition, permeability, the texture of the constituent particles, and particle size. These physical properties are the end result of the processes that formed the rocks. Over the course of time, rocks can transform from one type into another, as described by the geological model called the rock cycle. These events produce three general classes of rock: igneous, sedimentary, and metamorphic.<br /><br />
            

            <div class="post-img-huge"><img [src]="hugeimageurl" /></div>
            
              <div class="home-text" [innerHTML]= "text[3]">  </div>

            <ul class="post-img-grid">
                <li><img [src]="images2[5]" /></li>
                <li><img [src]="images2[6]" /></li>
                <li><img [src]="images2[7]" /></li>
                <li><img [src]="images2[8]" /></li>
            </ul>
            
   
          <div class="home-text" [innerHTML]= "text[3]">  </div>

        
        <h4>Was this article what you were looking for?</h4>
            
             <ul style="margin-top:40px">
                    <li style="width: 30%">
                        Yes! Save to your favourites or export to OneNote:
                    </li>
                    <li>
                        <button (click)="savedata()" type="button" class="icon-button" title="Save to Favourites"><i class="fa fa-star"></i></button>
                    </li>
                    <li>
                        <button (click)="saveonenote4()" type="button" class="icon-button" title="Export to OneNote"><i class="fa fa-share-square-o"></i></button>
                    </li>
            </ul>
            
            <ul style="margin-top:40px">
                    <li style="width: 30%">
                        Almost! But I want to re-configure it:
                    </li>
                    <li>
                        <button type="button" class="btn btn-signin">Options</button>
                    </li>
            </ul>
            
            <ul style="margin-top:40px">
                    <li style="width: 30%">
                        No! Take me back:
                    </li>
                    <li>
                        <a class="arrow-left arrow-left-beige">Back to Search</a>
                    </li>
                    <li>
                        <a class="arrow-left arrow-left-beige">Back to Geography</a>
                    </li>
            </ul>
</div>
<br>
<!--<div class="row">
             <div class="col-md-12"  >
                    <div class="card">
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-block">
  
                        <h4 class="card-title">ARTICLE Results showing for {{data.topic}} and {{data.chapter}}</h4>
                        <p class="card-text">    
                        <a class="btn btn-primary primary" (click)="savedata()">Save To Favourites</a>
                          <a class="btn btn-primary primary" (click)="showfav()">View Favourites</a>
                          <a class="btn btn-primary primary" (click)="saveonenote()">Save To One Note!</a>
                         <a class="btn btn-primary primary" (click)="saveonenote2()">Save To One Note2!</a>
                             <a class="btn btn-primary primary" (click)="saveonenote4()">Save To One Note4!</a>
                         <br>
                          <md-progress-spinner *ngIf="loading == true" class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
                          </p>
                    </div>
                </div>
             </div>  
             </div>
             <br>-->

<!--
 <div class="row" *ngIf="!saved" >
             <div class="col-md-12" *ngFor= "let image of img_data"  >
                   <div class="card">
          
                        <div class="card-block" >
                  
                        <p [innerHTML]="image.text.text" class="card-text">    </p>      
                        <h2> Images under this section </h2>
                    </div>
                     <carousel [noWrap]="noLoopSlides">
                       <div class="view overlay hm-white-slight" >
                          <slide  *ngFor= "let url of image.images" [active]="url.active" >
                        <img [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </slide>
                          </div>
                        </carousel>
                         <div  class="mask waves-effect waves-light" *ngIf= "image.videos.length>0">
                           <iframe width="560" height="315" [src]="image.videos[0].url | safe" frameborder="0" allowfullscreen></iframe></div>

                                    
              </div>
              <br>
              </div>
                     
            </div>
            <div *ngIf="saved">
            <div class="row" *ngFor= "let data of saved_data;let i=index">
                <div class="col-md-12">
                  <div class="card">    <h2>Saved Article {{i+1}}</h2></div>
                   <br>
                  </div>
                 
             <div class="col-md-12" *ngFor= "let image of data.sections.section"  >

                   <div class="card">

                        <div class="card-block" >
                          
                        <p [innerHTML]="image.text.text" class="card-text">    </p>      
                        <h2> Images under this section </h2>
                    </div>
                     <carousel [noWrap]="noLoopSlides">
                       <div class="view overlay hm-white-slight">
                          <slide  *ngFor= "let url of image.images.image" [active]="url.active" >
                        <img [src]="url.url" alt="" style="width:100%;height:100%">
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                          </slide>
                          </div>
                        </carousel>
                         
              </div>
              <br>
              </div>       
              </div>     
                     
            </div>-->
           
                  