
<md-progress-spinner *ngIf="loading == true" class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
<h2 *ngIf="hidden" class="card-text" style="font-size:2.5rem">{{DataService.myquery.chapter}} </h2>
<br>
<br>
<div class="row"  *ngFor= "let mode of img_data.modes" >
             <div  class="col-md-12" *ngFor= "let section of mode.sections;let i= index"   >
                    <h2 [innerHTML]="section.title" class="card-text">    </h2>      
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 0">
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" />
                               <br>
                               <p *ngIf="section.images[0].attribution!== null">Source : {{section.images[0].attribution}}</p><p *ngIf="section.images[0].caption!== null">Caption: {{section.images[0].caption}}</p>
                               </div>
                           
                               </div>
                    <div class="row" *ngIf="section.images == undefined">
                             <div class="col-md-12"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
    
                         <div class="row" *ngIf="section.images !== undefined && i%2 == 1">
                             <div class="col-md-5"><img style="width:100%" [src]="section.images[0].url" />
                             <br>
                             <p *ngIf="section.images[0].attribution!== null">Source : {{section.images[0].attribution}}</p><p *ngIf="section.images[0].caption!== null">Caption: {{section.images[0].caption}}</p>
                             </div>
                             <div class="col-md-7"  ><p [innerHTML]="section.text.text" class="card-text"> </p> </div>
                               </div>
                  
              <div class="post-video" *ngIf="section.videos !== undefined">
                      <br>
                          <br>
                    <iframe *ngIf="section.videos[0] !== undefined" allowfullscreen frameborder="0" height="315" width="560" [src]="section.videos[0].url | safe"></iframe>
               <br>
                </div>
                <br>
                     </div>
                     
</div>
<div *ngIf="hidden" class="row">
    <div class="col-md-12">
        <br /><br /><br />

            <h1>Was this article what you were looking for?</h1>
            <br />
            
            <ul class="card-list" style="margin-left: 2.50em">
                <li class="options-card">
                            <div class="options-transbox-green">
                            <div class="options-bg-green">
                                <div class="options-title">YES!</div>
                            </div>                    
                            <div class="fav-content">

                                    <div class="options-text">Save to your favourites<br>
                                    or export to OneNote:</div>

                                <div class="fav-button">
                                     <button type="button" (click)="onenotemodal = false" class="btn btn-yes btn-sm" data-toggle="modal" data-target="#savetofavs"><i class="fa fa-star"></i>&nbsp; Favourites</button>
                                    <button *ngIf= "!DataService.dblogin" (click)="onenotemodal = true" data-toggle="modal" data-target="#savetofavs" type="button" class="btn btn-yes btn-sm"><i class="fa fa-share-square-o"></i>&nbsp;&nbsp;&nbsp;OneNote&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                </div>
                            </div>
                        </div>
                </li>
                
                <li class="options-card">
                            <div class="options-transbox-yellow">
                            <div class="options-bg-yellow">
                                <div class="options-title">ALMOST!</div>
                            </div>                    
                            <div class="fav-content">

                                    <div class="options-text">But I want to do a new search:</div>

                                <div class="fav-button">
                                    <br>
                                    <button [routerLink]="['/search']" type="button" class="btn btn-almost btn-sm"><i class="fa fa-search"></i>&nbsp; New Search</button>
                                </div>
                            </div>
                        </div>
                </li>
                
                <li class="options-card">
                            <div class="options-transbox-red">
                            <div class="options-bg-red">
                                <div class="options-title">NO!</div>
                            </div>                    
                            <div class="fav-content">

                                    <div class="options-text">Take me back:</div>

                                <div class="fav-button">
                                    <br>
                                    <button [routerLink]="['/results']" type="button" class="btn btn-no btn-sm"><i class="fa fa-angle-double-left"></i>&nbsp; Back to Results</button>
                                    <button [routerLink]="['/modules']" type="button" class="btn btn-no btn-sm"><i class="fa fa-angle-double-left"></i>&nbsp; Back to Collections</button>
                                </div>
                            </div>
                        </div>
                </li>
            
            </ul>

            <div class="card-block" *ngIf="onenoteloader == true">
                <h4 class="card-title" >Saving To One Note...Please wait</h4>
                <md-progress-spinner class="example-margin" [color]="warn" mode="indeterminate" > </md-progress-spinner>
            </div>
        
            <!-- BUTTON TOP -->            
            <div class="btn-top">
                 <button (click)="scrolltop()" type="button" class="icon-top waves-effect waves-light"><i class="fa fa-chevron-up"></i></button>
            </div>
         
            <br /><br />
            
        
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="savetofavs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <h4 *ngIf="!onenotemodal" class="modal-title w-100" id="myModalLabel">Save to Favourites</h4>
                          <h4 *ngIf="onenotemodal" class="modal-title w-100" id="myModalLabel">Save to One Note</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <h6 *ngIf="!onenotemodal">Do you want to save this article to your Favourites?</h6>
                         <h6 *ngIf="onenotemodal">Do you want to save this article to your One Note?</h6>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close btn-sm" data-dismiss="modal">CANCEL</button>
                        <button type="button" *ngIf="!onenotemodal" (click)="savedata()" class="btn btn-primary btn-sm" data-dismiss="modal">SAVE TO FAVOURITES</button>
                    <button type="button" *ngIf="onenotemodal" (click)="saveonenote4()" class="btn btn-primary btn-sm" data-dismiss="modal">SAVE TO ONE NOTE</button>
        
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Modal -->




           
                  