
     <!--<button md-button *ngIf="!authenticated" (click)="note()">Authenticate to One Note</button>
         <button md-button *ngIf="authenticated" (click)="logout()">Logged in / Click To Log Out</button>
<md-card fxLayout="row" fxLayoutAlign="center center" class="dash-card" style="text-align:center"><h3>Enter keyword : </h3>
<md-input-container>
        <input mdInput class="dash-text center" value="{{value}}" #box (keyup.enter)="onEnter(box.value)">
    </md-input-container></md-card>
<div style="padding-top:3%;padding-left:10%;padding-right:10%;"></div>
    <md-grid-list cols="3" rowHeight="2:2.5">
  <md-grid-tile  *ngFor= "let result of results">
<md-card  class="example-card" (click)="onSelect(result)" >
     <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{result.name}}</md-card-title>
    <md-card-subtitle>{{result.query}}</md-card-subtitle>
  </md-card-header>
        <img md-card-image [src]="result.image"> 
        <md-card-content>
    <p>
    {{result.description}} 
    </p>
      <section class="example-section">
      <label class="example-margin">Progress:</label>
      <md-slider class="example-margin" ></md-slider>
      <md-progress-bar mode="indeterminate"></md-progress-bar>
    </section>
  </md-card-content>
          
           <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
  </md-grid-tile></md-grid-list>-->
   <div class="row">
         <div class="col-md-12">
           <br>
                <a *ngIf="!authenticated1" class="btn btn-primary primary" (click)="note()">Authenticate to One Note</a>
                <a *ngIf="!authenticated1" class="btn btn-primary primary" (click)="onenote()">Login Office 365</a>
                <a *ngIf="authenticated1" class="btn btn-primary primary" (click)="onenotelogout()">Disconnect Office 365</a>
                <button md-button *ngIf="authenticated" (click)="logout()">Logged in / Click To Log Out</button>
              <h2>{{user}}</h2>
                <!--Card-->
                <div class="card">
                   <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Learn Better</h4>
                        <!--Text-->
                        <p class="card-text">Select from our amazing Digital Content Collections® and find out about your favourite topics!</p>
                        <p>Enter the topic you're looking for:</p>
                       <div class="md-form">
                          <input type="text" id="form1" class="form-control"  value="{{value}}" #box (keyup.enter)="onEnter(box.value)">
                          <label for="form1" class="">Text</label>
                      </div>
                       
                        <a class="btn btn-primary red">SEARCH</a>
                    </div>
                    </div>
                
                      </div>
          </div>
          <div class="row">
             <div class="col-md-6"  *ngFor= "let result of results">
            <div class="card-block" (click)="onSelect(result)">
                        <!--Title-->
                        <h4 class="card-title">{{result.name}}</h4>
                          <hr>
                        <!--Text-->
                        <p class="card-text">   {{result.description}} </p>
                    
                        <div class="avatar"><img [src]="result.image" class="rounded-circle img-responsive">
              </div>
                  <a class="btn btn-primary blue">More here</a>
                    </div>
                      </div>
                     
            </div>