<div fxLayout="row">
<div style="background-color:aqua" fxFlex="33" > <h1> Step 1</h1>  <h2>The Fastest and Easiest way</h2>
</div>
<div  style="background-color:burlywood" fxFlex="67"> <h2> Step 2 </h2>    <h2>To Learn About Something</h2>
</div>
</div>
        <div class="backgroundHome" style="width:100%" fxFill fxLayout="row" fxLayoutAlign="space-between center">
       <md-card >
        <md-card-title>Step 1</md-card-title>
        <md-card-content>
          <p style="color:white">Tell us about your Topic</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>Step 2</md-card-title>
        <md-card-content>
          <p>Tell us a Little bit about your query</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>Step 3</md-card-title>
        <md-card-content>
          <p>We will show you the Nearest Results</p>
        </md-card-content>
      </md-card>
      </div>
<!--<home-form></home-form>-->