
<br><br>
<br>
<div class="card testimonial-card" style="background-color: #f6f5f1;">

    <!-- 
    <div class="box-image">
                <div class="banner-image">

                  <img src="../../assets/img/almanac/banner/Almanac-banner-1280px.jpg" /> 

                </div>
    </div> -->
    

   <div class="card-block">
        
     <div  >
             <h2>Learn better, <br />
with our Digital Content Collections®.</h2>
                    <hr class="hr-banner" />
                    <p>CJF Books, check. Flickr educational images, check. YouTube selected videos, check.<br /><br />

We combine these using our cloud-based intelligent nuclear-reactor-powered system 
and produce Almanac's Digital Content Collections, tailored to the needs of each and
                    every learner.</p>
                   
    </div>
    </div>
              <!--Bacground color-->
              <div class="card-up default-color-dark">
              </div>

              <!--Avatar-->
              <div class="avatar"><img align="right" src="../../assets/img/almanac/banner/learner-bn.png" class="rounded-circle img-responsive">
              </div>

              <div class="card-block">
                 
     
              </div>

          </div>
<!-- 
   <div class="bg-banner">
                
                <div class="content-banner">
                    <h2>Learn better, <br />
with our Digital Content Collections®.</h2>
                    <hr class="hr-banner" />
                    <p>CJF Books, check. Flickr educational images, check. YouTube selected videos, check.<br /><br />

We combine these using our cloud-based intelligent nuclear-reactor-powered system 
and produce Almanac's Digital Content Collections, tailored to the needs of each and
                    every learner.</p>

                    <div class="text-banner">
                        For every age, every level.
                    </div>
                    <div class="bt-banner">
                        <button type="button" class="btn btn-signin">Learn more below</button>
                    </div>
                </div>
                <div class="img-banner"></div>
            </div>-->
            
            <div class="features">

            <h2 style="text-align:left">Some of our best features</h2>
            <br />

                <ul class="icon-list">
                    <li class="icon-component">
                        <button type="button" class="icon-button"><i class="fa fa-folder-open"></i></button>
                        <br />
                        <div class="icon-title">
                            Rich Content<br />
                        </div>
                        <div class="icon-text">
                            We combine our book text, written by our expert authors, with carefully selected images from flickr and YouTube videos.
                        </div>
                    </li>
                    <li class="icon-component">
                        <button type="button" class="icon-button"><i class="fa fa-search"></i></button>
                        <br />
                        <div class="icon-title">
                            Advanced Search<br />
                        </div>
                        <div class="icon-text">
                            We offer an advanced search engine that only provides access to results that are appropriate for the age and level of the learner.
                        </div>
                    </li>
                    <li class="icon-component">
                        <button type="button" class="icon-button"><i class="fa fa-database"></i></button>
                        <br />
                        <div class="icon-title">
                            Data Privacy<br />
                        </div>
                        <div class="icon-text">
                            Data Privacy is important to us. We store stuff on Microsoft Azure servers with the latest security protocols.
                        </div>
                    </li>
                </ul>
                
                <ul class="icon-list">
                    <li class="icon-component">
                        <button type="button" class="icon-button"><img src="../../assets/img/almanac/icons/office-365.png" /></button>
                        <br />
                        <div class="icon-title">
                            Office 365 Ready<br />
                        </div>
                        <div class="icon-text">
                            Almanac can export collections to OneNote and other Office 365 tools that your school is already using.
                        </div>
                    </li>
                    <li class="icon-component">
                        <button type="button" class="icon-button"><img src="../../assets/img/almanac/icons/wriggle.png" /></button>
                        <br />
                        <div class="icon-title">
                            Buy with Wriggle<br />
                        </div>
                        <div class="icon-text">
                            You can use your Wriggle account to buy access to our content. We make payments easy by making them easy, easy, and easy. And transparent.
                        </div>
                    </li>
                    <li class="icon-component">
                        <button type="button" class="icon-button"><i class="fa fa-asterisk"></i></button>
                        <br />
                        <div class="icon-title">
                            Lorem Lorem Lorem<br />
                        </div>
                        <div class="icon-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Chicken chicken chicken is sooo much better tho and a lot yummier too.
                        </div>
                    </li>
                </ul>
                    
            </div>
            
            <br /><br /> 

            <h2>Approved by who matters most. Students</h2>

            <ul class="testimonial-list">
                <li class="testimonial">
                    <div class="speech-bubble-2">
                    <div class="speech-text">[…] I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</div>
                    </div>
                    <div class="nav-item dropdown btn-group">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" style="height:30px;width:30px;" class="img-fluid rounded-circle z-depth-1" />
                            <div class="speech-user">
                                    <b>Julie Farell</b><br />
                                    Vancouver, Canada
                            </div>
                    </div>
                </li>
                <li class="testimonial">
                    <div class="speech-bubble">
                    <div class="speech-text">[…] I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</div>  
                </div>
                <div class="nav-item dropdown btn-group">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" style="height:30px;width:30px;" class="img-fluid rounded-circle z-depth-1" />
                        <div class="speech-user">
                                <b>Julie Farell</b><br />
                                Vancouver, Canada
                        </div>
                </div>
                </li>
            </ul>

            <ul class="testimonial-list">
                <li class="testimonial">
                    <h6><b>Also, testimonials by teachers:</b></h6>
                    <div class="speech-bubble-2">
                    <div class="speech-text">[…] I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</div>
                    </div>
                    <div class="nav-item dropdown btn-group">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" style="height:30px;width:30px;" class="img-fluid rounded-circle z-depth-1" />
                            <div class="speech-user">
                                    <b>Julie Farell</b><br />
                                    Vancouver, Canada
                            </div>
                    </div>
                </li>
                <li class="testimonial">
                    <h6><b>Also, testimonials by parents:</b></h6>
                    <div class="speech-bubble">
                    <div class="speech-text">[…] I am so thankful that Almanac has allowed me to learn about something that I'm truly passionate about. Love Almanac.</div>  
                </div>
                <div class="nav-item dropdown btn-group">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" style="height:30px;width:30px;" class="img-fluid rounded-circle z-depth-1" />
                        <div class="speech-user">
                                <b>Julie Farell</b><br />
                                Vancouver, Canada
                        </div>
                </div>
                </li>
            </ul>

            <br /><br /> 

                <ul style="margin-top:40px">
                    <li>
                       <h4>Want to know more?</h4> 
                    </li>  
                    <li>
                        <div class="md-form input-group">
                        <input type="text" class="form-control" style="padding-right:100px" placeholder="Leave us your e-mail..." aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2" style="color:#6d7270">Request Info</span>
                        </div>
                    </li>
                    <li>
                        <button type="button" class="btn btn-signin">See Pricing</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-signin">No, Sign me up!</button>
                    </li>
  
   <!--         
  <div class="row">
       <div class="col-md-12">
          <div class="card">

                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <div class="card-block">
      
                        <h4 class="card-title">Learn Much Better</h4>
  
                        <p class="card-text">Select from our amazing Digital Content Collections® and find out about your favourite topics!</p>
                    </div> 

                </div>
    </div>
  </div> -->
  <br>
 
<br>



