<div class="backgroundHome">
  <div class="layer">
    <div class="titleHome">
      <h2>The Fastest and Easiest way</h2>
      <h2>To Learn About Something</h2>
    </div>
    <div layout="row">
      <md-card>
        <md-card-title>Step 1</md-card-title>
        <md-card-content>
          <p>Tell us about your Topic</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>Step 2</md-card-title>
        <md-card-content>
          <p>Tell us a Little bit about your query</p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-title>Step 3</md-card-title>
        <md-card-content>
          <p>We will show you the Nearest Results</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
<!--<home-form></home-form>-->