 <!--<div class="bg-banner">
                
                <div class="content-banner">
                    <h2 class="card-title">Sign Up for Almanac</h2>
                    <hr class="hr-banner" />
                    <p>Select from our amazing Digital Content Collections® and find out about your favourite topics!</p>

                    <div class="text-banner">
                        By creating an account you agree to our Terms Of Use and Privacy Policy.
                    </div>
                
                 <button (click)="onenote()" type="button" class="btn btn-signin">Login / Connect To Office 365</button>
                </div>
          
                <div class="img-banner"></div>
            </div>
                   <button (click)="create()" type="button" class="arrow-button-lg arrow-orange">CREATE ACCOUNT</button>
                <button (click)="create()" type="button" class="arrow-button-lg arrow-beige">SIGN UP</button>-->


<div class="row">
       <div class="col-md-10 offset-md-1">
          <div class="card">
              
                    <div class="view overlay hm-white-slight">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
              
                    <div class="card-block">
                    
                        <h2 class="card-title">Sign Up for Almanac</h2>
                        
                        <p class="card-text">
                            Select the Login type to connect with our amazing Digital Content Collections® and find out about your favourite topics!
                          <!-- Select from our amazing Digital Content Collections® and find out about your favourite topics! --></p>
                      <br>
                       <div class="row">
                       <div class="col-md-4" style="margin-top: 2.50em">
                    <div class="md-form">
                          <a (click)="onenote()" class="btn btn-primary">Connect via Office 365</a>
                    </div>
              
                    <div class="md-form">
                        <span class="btn btn-inactive">&nbsp;&nbsp;Connect via Wriggle&nbsp;&nbsp;</span>
                    </div>   
                      <div class="md-form">
                        <!-- <p>By creating an account you agree to our Terms Of Use and Privacy Policy. </p> -->
                    </div>   
    
                    </div>
                           
                    <div class="col-md-1">
                          <div class="vertical-line"></div> 
                    </div>
                           
                    <div class="col-md-7">
                            <form (ngSubmit)="onSubmit()" >
  <i class="fa fa-envelope prefix"></i>
  <label for="form9" data-error="wrong" data-success="right">Type your email</label>
  <input type="text" id="form1" class="form-control" [(ngModel)]="model.username" name="username" value="{{value}}" #box >
                        <!--<input type="email" id="form9" class="form-control validate">-->
                
        <i class="fa fa-lock prefix"></i>
        <label for="form10" data-error="wrong" data-success="right">Type your password</label>
         <input type="password" id="form1" class="form-control" [(ngModel)]="model.password" name="password" value="{{value}}" #box >
              
              
                    <br>
                
                              <button class="btn btn-primary" type="submit" color="warn" ><i class="fa fa-sign-in"></i>&nbsp; LOGIN</button>
                        </form>
                    </div>
                    </div>
                        <br><br>
                    <hr>
                      <div class="row">
                          <div class="col-md-4">
                              Pricing coming soon.
                              </div>
                          <!--
                            <div class="col-md-4">
                              Simple Setup<br>
                              Add your work, name a price and start selling instantly.
                              </div>

                           <div class="col-md-4">Powerful Insight<br>Track conversion rates, referrers and buyer locations
                            </div>
                            <div class="col-md-4">Honest Pricing<br>Just 5% + 25¢ per transaction. No setup or monthly fees.
                               </div> -->

                        </div>

                    </div>
                </div>
    </div>
  </div>